.hard
    display: grid
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr
    grid-template-rows: repeat(1fr)
    width: 95%
    height: 85%
    margin: 0 auto
    gap: auto
.card-hard__container
    height: 10vh
    width: 13vw
    position: relative
    .card-hard
        position: absolute
        width: 100%
        height: 100%
        transform-style: preserve-3d
        transition: transform 0.5s ease
        .card-hard__back
            position: absolute
            width: 100%
            height: 100%
            backface-visibility: hidden
            background-color: #3B5EA0
            overflow: hidden
            border-radius: 0.3rem
            border: 2px #434A54 solid
            display: flex
            flex-direction: column
            justify-content: space-around
            align-items: center
            cursor: pointer
            p
                color: #D3A43A
                font-weight: 800
                font-size: 0.5rem
                text-align: center
            img
                width: 50%
        .card-hard__front
            z-index: 2
            position: absolute
            width: 100%
            height: 100%
            backface-visibility: hidden
            transform: rotateY(180deg)
            background-color: #C7B4D7
            overflow: hidden
            border-radius: 0.3rem
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            cursor: pointer
            .card-hard__title
                background-color: #CB2322
                width: 100%
                height: 20%
                display: flex
                align-items: center
                justify-content: center
                h3
                    color: #f3f3f3
                    font-weight: 800
                    font-size: 0.37rem
                    text-align: center
                    margin: 0
            .card-hard__shadow
                position: absolute;
                top: 0
                right: 0
                width: 78%
                svg
                    margin: 0;
                    padding: 0
                    vertical-align: top
                    position: relative
            .card-hard__image-container
                flex-grow: 1
                z-index: 1
                align-items: center
                display: flex
                width: 95%
                justify-items: center
                img
                    width: 100%
                    