.medium
    display: flex
    flex-wrap: wrap
    width: 90%
    height: 80%
    margin: 0 auto
    justify-content: space-evenly
    align-content: space-evenly
    @media screen and ( min-width: 700px )
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(4, 1fr)
        gap: 1rem 1.25rem
        width: 80%
    @media screen and ( min-width: 1020px )
        position: relative
        width: 100%
        display: grid
        grid-template-columns: repeat( 8 , minmax( 7rem , 12.5% ) ) //
        grid-template-rows: repeat( 2 , minmax( 10.5rem, 17.75% ) )//
        gap: 1rem
        height: auto
        margin: 1.75rem 0
        

.card-container
    height: 14vh
    width: 19vw
    position: relative
    @media screen and ( min-width: 700px )
        width: auto
        height: auto
    .card
        position: absolute
        width: 100%
        height: 100%
        transform-style: preserve-3d
        transition: transform 0.5s ease 
        .card__back
            position: absolute
            width: 100%
            height: 100%
            backface-visibility: hidden
            background-color: #3B5EA0
            min-height: 14vh
            overflow: hidden
            border-radius: 0.6rem
            border: 2px #434A54 solid
            display: flex
            flex-direction: column
            justify-content: space-around
            align-items: center
            cursor: pointer
            p
                color: #D3A43A
                font-weight: 800
                font-size: 0.7rem
                text-align: center
            img
                width: 40%
            @media screen and ( min-width: 700px )
                p
                    font-size: 1rem
                img
                    width: 45%
            @media screen and ( min-width: 1020px )
                border-radius: 0.3rem !important
        .card__front
            z-index: 2
            position: absolute
            width: 100%
            height: 100%
            backface-visibility: hidden
            transform: rotateY(180deg)
            background-color: #C7B4D7
            overflow: hidden
            border-radius: 0.6rem
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            cursor: pointer
            @media screen and ( min-width: 1020px )
                border-radius: 0.3rem !important
            .card-front__title
                background-color: #CB2322
                width: 100%
                height: 20%
                display: flex
                align-items: center
                justify-content: center
                @media screen and ( min-width: 700px )
                    height: 30%
                @media screen and ( min-width: 1020px )
                    height: auto !important

                h3
                    color: #f3f3f3
                    font-weight: 800
                    font-size: 0.53rem
                    text-align: center
                    margin: 0
                    @media screen and ( min-width: 700px )
                        font-size: .9rem
                    @media screen and ( min-width: 1020px )
                        margin: 0.5rem 0
            .card-front__shadow
                position: absolute
                top: 0
                right: 0
                width: 78%
                align-self: stretch
                svg
                    margin: 0
                    padding: 0
                    vertical-align: top
                    position: relative
                    fill: #C9C6E8
            .card-front__image-container
                @media screen and ( min-width: 700px )
                    width: 90%
                flex-grow: 1
                z-index: 1
                align-items: center
                display: flex
                width: 95%
                justify-items: center
                img
                    width: 100%
                    
        