.home
    display: flex
    flex-direction: column
    justify-content: space-evenly
    justify-items: center
    align-items: center
    @media screen and ( min-width: 1020px )
        justify-content: normal
        justify-items: normal
        flex-direction: row
        align-items: normal
        display: grid;
        height: 100vh
        grid-template-areas: "a a a" "b c c" "b c c" "b c c"
.home__title
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 20vh
    @media screen and ( min-width: 1020px )
        justify-content: start !important
        height: auto
        grid-area: a
        width: 100%
        margin: 2.4rem 0 0
    h1
        text-align: center
        color: $dark-gray
        font-size: 1.5rem
        width: 60%
        margin: 0
        font-weight: 600
        @media screen and ( min-width: 1020px )
            font-size: 1.8rem !important
            width: 100%
            align-self: flex-end
.content
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    height: 80vh
    @media screen and ( min-width: 1020px )
        align-items: flex-start
        margin-left: 6rem
        grid-area: b
        height: auto
        justify-content: start
        margin-top: 30%
.content__description
    margin: 3rem 0
    width: 65%
    text-align: center
    font-size: 1rem
    color: $light-gray
    @media screen and ( min-width: 1020px )
        font-size: 1.55rem !important
        text-align: left
        width: 70%
        margin: 0
        padding-bottom: 1rem
        border-bottom: 0.3rem rgba($red, 0.75) solid
.content__button
    display: flex
    width: 30%
    background-color: $red
    padding: 0.7rem 1rem
    border-radius: 5rem
    justify-content: space-around
    align-items: center
    color: $font
    cursor: pointer
    @media screen and ( min-width: 1020px )
        display: none 
